.container{
      display: block;
      align-content: center;
      
}

.potrait{
    margin-top: 50px;
    align-content: center;
    justify-items: center;
    justify-content: center;
    justify-items: center;
}

.landscape{
    margin-top: 50px;
}
.nav{
    margin: auto;
    display: flexbox;
}


.footer{
    border-style: outset;
    border-width: 2px;
    border-color: black;
    padding: -5px;
}

