.container{
      
   
      max-height: 1920px;
      height: 500px;
      background-color: antiquewhite;
      display: flex;
      justify-content:center;
      
}

.container1{

    justify-content: space-evenly;
    padding: 20px;
    display: flex;
    margin: 50px;
    
}

.button{
    text-align: center;
    cursor: pointer;
    font-size: 20pt;
    background-color: #003580;
    color: antiquewhite;
    padding-left: 25px;
    padding-right: 25px;
    
    justify-content: center;
    display: flex;
}




