.footer{
    display: flex;
    font-size: small;
    background-color: #003580;
    color: white;
    height: 1024px;
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: baseline;
    margin-top: 50px;
}