.navbar{
  height: 80px;
  background-color: #003580;
 display: flex;
 
 
  
}

.navContainer{
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 100px;
  
}

.logo{
  align-self: center;
  display: flex;
  height: 78px;
  margin-left: -50px;
  
}
.header{
  text-align: center;
  color: white;
  
  
}

.navItems{
  justify-content: center;
  margin-left: -300px;
  margin-right: 195px;
  width: 150%;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 36pt;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}