.navbar{
  height: 80px;
  background-color: #003580;
 display: flex; 
  
}

@media only screen and (max-width: 600px) {
  header{
    font-size: 16pt;
    justify-content: right;
    display: flex;
    margin-left: 200px;
  }
}

.navContainer{
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 100px;
  flex-direction: row;
  
}

.logo{
  align-self: center;
  display: flex;
  height: 78px;
  margin-left: -50px;
  
}
.header{
  text-align: center;
  color: white;
  display: flex;
 
  
}

.navItems{
  justify-content: flex-start;
  margin-left: -400px;
  margin-right:0px;
  width: 150%;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 32pt;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;

}